.investors__title {
  font-weight: 700;
  margin: 20px 0 0 0;
}

.investors__text {
  margin: 0 0 15px;
}

.investors__background {
  width: 343px;
  padding: 5px;
  background: #19163f;
  border: 1px solid #3d3f5e;
}

.investors__background-item {
  display: flex;
  justify-content: space-evenly;
}

.background__item-time {
  display: flex;
  color: #43fcff;
  padding: 5px 10px;
  border-radius: 20px;
  background: #19163f;
  margin-top: 8px;
  margin-bottom: 9px;
  border: 1px solid #3d3f5e;
}

.background__item-time-text {
  font-size: 8px;
  padding: 0;
  margin: 0 30px 0 0;
}

.background__item-time-number {
  font-size: 8px;
  margin: 0;
  padding: 0;
}
@media (min-width: 1900px) {
  .investors__background {
    width: 470px;
    padding: 10px;
  }
  .background__item-time {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 2000px) {
  .investors__background {
    width: 500px;
  }

  .background__item-time {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .investors__background {
    padding: 10px;
  }

  .background__item-time-text {
    font-size: 14px;
  }
  .background__item-time-number {
    font-size: 14px;
  }
}

@media (min-width: 2400px) {
  .investors__background {
    width: 600px;
  }

  .background__item-time {
    margin-bottom: 21px;
  }
}

@media (max-width: 1024px) {
  .investors__background {
    width: 282px;
  }

  .background__item-time {
    margin-top: 20px;
  }
}

@media (max-width: 990px) {
  .investors__background {
    width: 282px;
    padding: 10px;
  }
  .background__item-time {
    padding: 4px 5px;
    margin-bottom: 19px;
  }
}
@media (max-width: 866px) {
  .investors {
    margin-left: 10px;
  }
  .investors__background {
    width: 370px;
  }
}

@media (max-width: 700px) {
  .investors {
    margin-left: 30px;
  }
  .investors__background {
    width: 442px;
  }
}

@media (max-width: 420px) {
  .investors {
    margin-left: 10px;
  }
  .investors__background {
    width: 360px;
  }
}

@media (max-width: 390px) {
  .investors {
    margin-left: 10px;
  }
  .investors__background {
    width: 320px;
  }
}
