.nav {
  width: 280px;
  height: 100%;
  background: #19163f;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.nav__logo-img {
  width: 65px;
  margin-right: 15px;
}

.nav__logo-text {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.nav__panel {
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  text-transform: uppercase;
}

.nav__link {
  font-size: 14px;
  width: 240px;
  height: 40px;
  padding: 0;
  display: flex;
  font-weight: 400;
  margin-left: 30px;
  align-items: center;
  margin-bottom: 15px;
  transition: all .1s;
  border: 1px solid #ffffff00;
}

.nav__link:hover {
  width: 245px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  padding: 0px;
  background: #fa544d;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  
}
/* .nav__link-active {
  font-weight: 700;
  padding: 0px 15px;
  background: #fa544d;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
} */
.nav__link-img {
  width: 20px;
  margin-right: 35px;
  margin-left: 20px;
}

.nav__link:hover svg path {
  fill: rgb(255, 255, 255);
}

.nav__link-img-question {
  width: 14px;
  margin-right: 35px;
  margin-left: 20px;
}

@media (min-width: 1800px) {
  .nav {
    width: 280px;
  }
  .nav__panel {
    margin-left: 30px;
  }
  .nav__link {
    margin-left: 40px;
  }
  .nav__link:hover {
    width: 235px;
  }
}

@media (min-width: 2000px) {
  .nav {
    width: 325px;
  }
  .nav__link {
    width: 235px;
    margin-left: 55px;
    font-size: 17px;
  }

  .nav__link:hover {
    width: 265px;
    font-size: 16px;
  }

  .nav__panel {
    font-size: 16px;
    margin-left: 35px;
  }
}

@media (min-width: 2400px) {
  .nav {
    width: 380px;
  }
  .nav__link {
    font-size: 21px;
    width: 300px;
    margin-bottom: 21px;
  }

  .nav__panel {
    font-size: 18px;
  }

  .nav__link:hover {
    width: 320px;
    height: 50px;
    font-size: 20px;
  }
  .nav__link-img {
    width: 30px;
  }
  .nav__link-img svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1300px) {
  .nav {
    width: 239px;
  }

  .nav__panel {
    margin-left: 15px;
  }

  .nav__logo {
    margin-left: 10px;
  }
  .nav__logo-img {
    width: 50px;
  }

  .nav__logo-text {
    font-size: 28px;
  }
  .nav__link {
    width: 210px;
    font-size: 12px;
    margin-left: 25px;
  }
  .nav__link:hover {
    width: 210px;
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .nav {
    position: absolute;
    background: #15173c;
    height: 400%;
    width: 285px;
    left: -100%;
    transition: left 0.6s;
  }

  .nav__active {
    display: block;
    z-index: 10;
    left: 0;
  }

  .nav__logo {
    margin-top: 40px;
  }

  .menu__burger {
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    display: block;
    width: 30px;
    height: 2px;
    background: #15173c;
  }
  .menu__burger::before {
    content: '';
    position: absolute;
    top: 8px;
    width: 30px;
    height: 2px;
    background: #15173c;
  }
  .menu__burger::after {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 30px;
    height: 2px;
    background: #15173c;
  }

  .menu__burger-couse {
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    display: block;
    width: 30px;
    height: 2px;
    z-index: 10;
  }
  .menu__burger-couse::before {
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    height: 2px;
    background: #090b32;
    transform: rotate(-45deg);
  }
  .menu__burger-couse::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 2px;
    background: #090b32;
    transform: rotate(45deg);
  }

  .nav__link {
    width: 255px;
  }
  .nav__link:hover {
    width: 255px;
    font-size: 13px;
  }
}

@media (max-width: 990px) {
  .nav {
    height: 430%;
  }
}

@media (max-width: 866px) {
  .nav {
    height: 586%;
  }
}

@media (max-width: 700px) {
  .nav {
    height: 660%;
  }

  .nav__pane {
    margin-left: 30px;
  }

  .nav__link {
    margin-left: 40px;
  } 

  .nav__link:hover {
    width: 235px;
  }
}

@media (max-width: 420px) {
  .nav {
    width: 270px;
    height: 707%;
  }

  .nav__link:hover {
    width: 225px;
    font-size: 13px;
  }
 
  .nav__link {
    width: 220px;
    margin-left: 40px;
  }
  .nav__panel {
    margin-left: 30px;
  }
}
