.profile {
  width: 240px;
  border-radius: 5px;
  background: #090b32;
}

.profile__user {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.profile__options {
  margin-left: 85px;
  display: flex;
  align-items: center;
}

.profile__options-img {
  width: 20px;
  padding: 10px;
  background: #19163f;
  margin-right: 10px;
  border-radius: 0px 0px 10px 10px;
  transition: .3s;
}

.profile__options-img:hover{
  background: #fa544d;
}

.profile__options-img:hover svg path {
  fill: rgb(255, 255, 255);
  }

.profile__user-name {
  margin-left: 20px;
  color: #ffffff;
}

.profile__balance-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 25px;
}

.profile__balance__item-img {
  width: 18px;
}

.profile__balance__item-balance {
  margin-right: 40px;
}

.profile__balance__item-number {
  margin-right: 7px;
  color: #ffffff;
}





@media (min-width: 2000px) {
  .profile {
    width: 310px;
  }  

  .profile__options {
    margin-left: 140px;
  }

  .profile__options-img {
    width: 25px;
  }

  .profile__user-name {
    font-size: 18px;
    font-weight: 700;
  }

  .profile__balance__item-balance {
    font-size: 18px;
  }

  .profile__balance__item-number {
    font-size: 18px;
    font-weight: 400;
  }

}

@media (max-width: 1300px) {
  .profile {
    width: 190px;
  }

  .profile__options {
    margin-left: 40px;
  }

  .profile__balance-item {
    margin-left: 10px;
  }

  .profile__balance__item-balance {
    margin-right: 20px;
  }

  .profile__balance__item-number {
    font-size: 14px;
  }

  @media (max-width: 420px) { 
    .profile {
      width: 200px;
    } 
    .profile__options  {
      margin-left: 45px;
    }

  }
}
