.homeScreen {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 10px 17px;
  grid-template-areas:
    'homeScreen__nav homeScreen__investors homeScreen__portfolio homeScreen__interest'
    'homeScreen__nav homeScreen__deposit homeScreen__deposit homeScreen__deposit';
}

.homeScreen__nav {
  grid-area: homeScreen__nav;
}
.homeScreen__investors {
  grid-area: homeScreen__investors;
}
.homeScreen__portfolio {
  grid-area: homeScreen__portfolio;
}
.homeScreen__interest {
  grid-area: homeScreen__interest;
}
.homeScreen__deposit {
  margin-right: 20px;
  grid-area: homeScreen__deposit;
}

@media (max-width: 1024px) {
  .homeScreen {
    gap: 10px 10px;
  }
}

@media (max-width: 990px) {
  .homeScreen {
    gap: 10px 4px;
  }
  .homeScreen {
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
  }
}

@media (max-width: 866px) {
  .homeScreen {
    display: flex;
    flex-wrap: wrap;
  }
}
 
@media (max-width: 390px) {
  .homeScreen__investors {
    margin: 0 auto;
  }

  .homeScreen__portfolio {
    margin: 0 auto;
  }

  .homeScreen__interest {
    margin: 0 auto;
  }

}