.portfolio__circle {
  width: 180px;
}
.portfolio__circle-progect {
  position: absolute;
  left: 80px;
  top: 99px;
}

.portfolio__circle-progect-color {
  width: 10px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.portfolio__circle-text {
  color: #43fcff;
  font-size: 14px;
}

.portfolio__info-circle-text {
  text-align: center;
  margin: 0;
}

.portfolio__title {
  margin: 20px 0 0 0;
}

.portfolio__text {
  margin: 0 0 25px;
}

.portfolio__info {
  width: 345px;
  padding: 10px;
  position: relative;
  display: flex;
  background: #13153a;
  border: 1px solid #3d3f5e;
}

.portfolio__info__item-color {
  display: flex;
  align-items: center;
}
.portfolio__info__item-color-text {
  margin-right: 5px;
}

.portfolio__info__item-text-1 {
  margin: 0;
}

.portfolio__info__item-color-block {
  width: 10px;
  height: 10px;
  display: block;
  padding: 0;
  border: 0;
  margin-right: 5px;
}

.active__color {
  border: 1px solid #43fcff;
}

.portfolio__info-items {
  margin-left: 10px;
  margin-top: 35px;
}

.portfolio__info__item-text {
  display: flex;
  justify-content: space-between;
}

.portfolio__info-neme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #545a7c;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.portfolio__info-color {
  width: 10px;
  height: 10px;
  background: #51358e;
  display: block;
  margin-right: 5px;
}

.portfolio__info-text {
  font-size: 10px;
  color: #43fcff;
  margin: 0 10px 0 0;
}

.portfolio__info-number {
  font-size: 10px;
  color: #43fcff;
  margin: 0;
}

.portfolio__info-img {
  width: 10px;
  margin-right: 5px;
}

@media (min-width: 2000px) {
  .portfolio__info {
    width: 500px;
  }

  .portfolio__info__item-text-1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolio__info-circle-text {
    font-size: 18px;
  }
  .portfolio__circle {
    width: 250px;
    height: 250px;
    margin-bottom: 35px;
  }

  .portfolio__circle-progect {
    top: 142px;
    left: 116px;
  }
  .portfolio__circle-progect-color {
    width: 15px;
    height: 15px;
  }
  .portfolio__info__item-color-block {
    width: 17px;
    height: 17px;
  }

  .portfolio__info-color {
    width: 17px;
    height: 17px;
  }

  .portfolio__info-item {
    margin-top: 20px;
  }


  .portfolio__info-items {
    margin-left: 0;
    margin-top: 40px;
  }

  .portfolio__info-text {
    font-size: 15px;
  }
  .portfolio__info-number {
    font-size: 15px;
  }
}

@media (min-width: 2400px) {
  .portfolio__info {
    width: 600px;
  }

  .portfolio__circle {
    width: 330px;
    height: 330px;
  }

  .portfolio__circle-progect {
    top: 190px;
    left: 156px;
  }

  .portfolio__info-items {
    margin-top: 75px;
  }

  .portfolio__info-text {
    font-size: 17px;
  }
  .portfolio__info-number {
    font-size: 17px;
  }

  .portfolio__info-color {
    width: 16px;
    height: 16px;
  }
  .portfolio__info__item-color-block {
    width: 20px;
    height: 20px;
  }
  .portfolio__info__item-color-text {
    font-size: 25px;
    margin-right: 20px;
  }

  .portfolio__info-img {
    width: 20px;
  }
  .portfolio__info-neme {
    margin-top: 15px;
  }

  .portfolio__info__item-text-1 {
    font-size: 22px;
  }
  .portfolio__info-circle-text {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .portfolio__info {
    width: 290px;
  }

  .portfolio__circle {
    width: 150px;
    margin-top: 30px;
  }

  .portfolio__info-items {
    margin-left: 3px;
  }

  .portfolio__circle-progect {
    top: 118px;
    left: 65px;
  }

  .portfolio__info__item-color-text {
    font-size: 15px;
  }

  .portfolio__info__item-color-block {
    width: 8px;
    height: 8px;
  }

  .portfolio__info__item-text-1 {
    font-size: 13px;
  }

  .portfolio__info-text {
    font-size: 9px;
  }
  .portfolio__info-number {
    font-size: 9px;
  }
}

@media (max-width: 990px) {
  .portfolio__info {
    width: 275px;
  }
  .portfolio__info__item-text-1 {
    font-size: 11px;
  }

  .portfolio__circle-progect {
    top: 115px;
    left: 66px;
  }

  .portfolio__info-color {
    width: 8px;
    height: 8px;
    margin-right: 3px;
  }
  .portfolio__info-img {
    width: 9px;
    margin-right: 3px;
  }

  .portfolio__info-text {
    font-size: 8px;
  }
  .portfolio__info-number {
    font-size: 8px;
  }
  .portfolio__info__item-color-block {
    margin-right: 3px;
  }
}
@media (max-width: 866px) {
  .portfolio__info {
    width: 360px;
  }

  .portfolio__circle {
    width: 190px;
    height: 190px;
    margin-top: 32px;
  }

  .portfolio__circle-progect {
    top: 141px;
    left: 87px;
  }

  .portfolio__info__item-color-text {
    font-size: 17px;
  }

  .portfolio__info__item-color-block {
    width: 12px;
    height: 12px;
  }

  .portfolio__info__item-text-1 {
    font-size: 13px;
  }

  .portfolio__info-color {
    width: 12px;
    height: 12px;
  }
  .portfolio__info-text {
    font-size: 11px;
  }
  .portfolio__info-number {
    font-size: 11px;
  }
}

@media (max-width: 866px) {
  .portfolio {
    margin-left: 60px;
  }
}

@media (max-width: 700px) {
  .portfolio {
    margin-left: 80px;
  }
  .portfolio__info {
    width: 442px;
  }
  .portfolio__circle {
    width: 200px;
    height: 200px;
  }
  .portfolio__circle-progect {
    top: 144px;
    left: 88px;
  }

  .portfolio__info__item-color-text {
    font-size: 20px;
  }

  .portfolio__info__item-color-block {
    width: 16px;
    height: 16px;
  }

  .portfolio__info-items {
    margin-top: 40px;
    margin-left: 15px;
  }

  .portfolio__info__item-text-1 {
    font-size: 18px;
  }

  .portfolio__info-text {
    font-size: 15px;
  }
  .portfolio__info-number {
    font-size: 15px;
  }

  .portfolio__info-color {
    width: 15px;
    height: 15px;
  }

  .portfolio__info-img {
    width: 15px;
  }
}

@media (max-width: 420px) {
  .portfolio {
    margin-left: 10px;
  }
  .portfolio__info {
    width: 360px;
  }

  .portfolio__circle {
    width: 150px;
    height: 150px;
  }
  .portfolio__circle-progect {
    top: 120px;
    left: 64px;
  }
  .portfolio__info__item-text-1 {
    font-size: 15px;
  }
  .portfolio__info-color {
    width: 10px;
    height: 10px;
  }
  .portfolio__info-text {
    font-size: 11px;
  }
  .portfolio__info-number {
    font-size: 11px;
  }
  .portfolio__info-img {
    width: 10px;
  }
}
@media (max-width: 390px) {
  .portfolio__info {
    width: 330px;
  }
  .portfolio__info__item-color-block {
    width: 12px;
    height: 12px;
  }
}
