.interest {
  margin-right: 10px;
}

.interest__background {
  width: 330px;
  height: 200px;
  padding: 10px;
  background: #19163f;
  border: 1px solid #3d3f5e;
}

.interest__title {
  margin: 20px 0 0 0;
}
.interest__text {
  margin: 0 0 15px;
}

.interest__statistics {
  width: 150px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #43fcff;
  border-radius: 10px;
  padding: 2px 11px;
}

.interest__statistics-img {
  width: 10px;
}
.interest__statistics-text {
  color: #43fcff;
  margin: 0;
  font-size: 10px;
}
.interest__statistics-number {
  color: #43fcff;
  margin: 0;
  font-size: 10px;
}

@media (min-width: 2000px) {
  .interest__background {
    width: 443px;
    height: 275px;
  }

  .interest__statistics-text {
    font-size: 15px;
  }
  .interest__statistics-number {
    font-size: 15px;
  }
}

@media (min-width: 2400px) {
  .interest__background {
    width: 600px;
    height: 364px;
  }

  .interest__statistics-text {
    font-size: 18px;
  }
  .interest__statistics-number {
    font-size: 18px;
  }

  .interest__statistics {
    width: 170px;
    margin-top: 25px;
  }
}

@media (max-width: 1024px) {
  .interest__background {
    width: 295px;
  }
}

@media (max-width: 866px) {
  .interest {
    margin-left: 60px;
  }
  .interest__background {
    width: 442px;
    height: 260px;
  }
}

@media (max-width: 700px) {
  .interest {
    margin-left: 80px;
  }
}
@media (max-width: 400px) {
  .interest {
    margin-right: 0;
    margin-left: 10px;
  }
  .interest__background {
    width: 360px;
    height: 215px;
  }
}
