.deposit {
  margin-bottom: 20px;
}

.deposit__item {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background: #1e2044;
  border: 1px solid #3d3f5e;
  border-radius: 5px;
}

.deposit__background {
  background: #13153a;
  border: 1px solid #3d3f5e;
}

.deposit__info {
  display: flex;
  justify-content: space-evenly;
  font-size: 11px;
}

.deposit__item-data {
  display: flex;
}

.deposit__item-data-img {
  width: 15px;
  padding-top: 22px;
  height: 15px;
  margin-right: 10px;
}

.deposit__item-data-number {
  width: 90px;
  font-size: 14px;
  margin-top: 10px;
}

.deposit__item-user {
  display: flex;
  align-items: center;
}

.deposit__item-user-img {
  width: 20px;
  margin-right: 10px;
}

.deposit__item-user-text {
  font-size: 14px;
  margin: 0;
}

.deposit__item-amount {
  margin-right: 20px;
  font-size: 14px;
  width: 105px;
  display: flex;
  align-items: center;
}

.deposit__item-amount-img {
  margin-right: 7px;
}

.deposit__item-amount-text {
  margin: 0 0 0 0;
  color: #43fcff;
}

.deposit__item-action {
  font-size: 14px;
  width: 100px;
  text-align: center;
  margin: 0;
}

.deposit__item-action-text {
  color: #43fcff;
  margin-top: 20px;
}

.deposit__item-action-text-color {
  color: #fa544d;
  margin-top: 20px;
  font-size: 14px;
}

.deposit__item-crypto {
  display: flex;
  align-items: center;
  margin: 0;
}

.deposit__item-crypto-img {
  margin-right: 10px;
  width: 20px;
}

.deposit-color {
  color: #43fcff;
  font-size: 14px;
  margin: 5px;
}

.deposit__item-crypto-text {
  font-size: 12px;
  margin: 5px;
}

.deposit__item-transaction {
  margin-top: 15px;
  display: flex;
}

.deposit__item-transaction-text {
  font-size: 12px;
  margin: 5px;
  color: #4266d4;
}

.deposit__item-transaction-img {
  margin-top: 7px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.deposit__latest {
  text-align: end;
  margin-right: 20px;
}

.deposit__page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposit__page-number {
  font-weight: 900;
  padding: 10px 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100%;
  border: 1px solid #3d3f5e;
}

.number-activ {
  color: #fa544d;
}

.arrow__radius {
  padding: 8px 10px;
  border-radius: 100%;
  border: 1px solid #3d3f5e;
}

.arrow__radius-img {
  width: 20px;
}

@media (min-width: 2000px) {
  .deposit__item-data-img {
    width: 30px;
    height: 30px;
  }

  .deposit__item-user-img {
    width: 30px;
  }

  .deposit__item-amount {
    width: 115px;
  }

  .deposit__item-amount-img {
    width: 30px;
  }

  .deposit__item-crypto-img {
    width: 30px;
  }

  .deposit__item-transaction-img {
    width: 20px;
    height: 20px;
  }
  .deposit__item-transaction-img {
    width: 25px;
  }
}

@media (min-width: 2400px) {
  .deposit__info {
    font-size: 16px;
  }
  .deposit__item-data-number {
    width: 117px;
    font-size: 20px;
  }

  .deposit__item-user-text {
    font-size: 20px;
  }

  .deposit__item-action {
    font-size: 20px;
  }

  .deposit__item-action-text-color {
    font-size: 20px;
  }
  .deposit__item-amount {
    width: 170px;
    font-size: 20px;
  }

  .deposit-color {
    font-size: 20px;
  }
  .deposit__item-crypto-text {
    font-size: 18px;
  }

  .deposit__item-transaction-text {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .deposit__item {
    font-size: 13px;
  }

  .deposit__item-data-number {
    width: 80px;
    font-size: 13px;
  }
}
@media (max-width: 866px) {
  .deposit {
    margin-left: 65px;
  }

  .deposit__info {
    width: 1024px;
  }
  .deposit__item {
    width: 1000px;
  }

  .deposit__background {
    width: 770px;
  }

  .deposit__scroll {
    width: 770px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (max-width: 700px) {
  .deposit {
    margin-left: 80px;
  }
  .deposit__background {
    width: 550px;
  }

  .deposit__scroll {
    width: 550px;
  }
}

@media (max-width: 420px) {
  .deposit {
    margin-left: 10px;
  }
  .deposit__background {
    width: 380px;
  }

  .deposit__scroll {
    width: 380px;
  }
  .deposit__latest {
    margin-right: 5px;
  }
  .deposit__page-number {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 390px) {
  .deposit {
    margin-left: 10px;
  }
  .deposit__background {
    width: 350px;
  }
  .deposit__scroll {
    width: 350px;
  }
}
